

<center>

<p id="geoquest">GeoQuest</p>
<p id="geoquesttag">Test your knowledge of country-ography!</p>

<div id="basebg">
	<div id="overlay">
		<div id="answers"></div>
			<div id="info">
				<br><br>
					<div id="question"><div id="target"></div> <br>
					</div>
					<br><br>
					<div id="opt0"><input type="radio" id="optcheck0" name="selection"></div>
					<br><br>

					<div id="opt1"><input type="radio"  id="optcheck1" name="selection"></div>
					<br><br>

					<div id="opt2"><input type="radio"  id="optcheck2" name="selection"></div>
					<br><br>

					<div id="opt3"><input type="radio"  id="optcheck3" name="selection"></div>

					<br>
					<input type="submit" id="submit" value="Answer"> <button id="hint">?</button>
				<br>
			</div>
	</div>
</div>

<!-- <div> 
    <object type="text/html" data="file:///Users/Qu`innDev/Desktop/FINAL_PROJECT/wikipedia/index.html" width="400px" height="300px" style="overflow:auto;border:5px ridge blue">
    </object>
</div> -->

<!-- <div id="googleMapToggle"> -->
	<div id="googleMap"></div>
<!-- </div> -->

	<!-- <div class="modal">
	 For Map
	 	<a href="#" class="modal-close">X</a>
	</div>

<div class="modal-shade"></div> -->
</center>