/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-image: url('mainbg.png');
	font-family: 'Montserrat', sans-serif;
}

#info {
	background-image: url('travel.jpg');
	width: 750px;
	height: 380px;
	border: 12px solid RGBA(255, 93, 96, 0.97);
	border-radius: 3px;
	color: white;
	margin-top: 35px;
}

#overlay {
	width: 750px;
	height: 380px;
	background-color: RGBA(43, 43, 43, 0.5);
}

#geoquest {
	color: RGBA(255, 93, 96, 1.00);
	font-size: 46px;
	margin-bottom: 7px;
}

#geoquesttag {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	margin: 10px;
	color: RGBA(68, 67, 73, 0.7);
}

#submit {
	width: 75px;
	-webkit-transition: all .5s;
	background: RGBA(190, 248, 207, 1.00);
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	color: RGBA(68, 67, 73, 0.7);
	border-radius: 5px;
	box-shadow: 0px 0px 2px rgba(0,0,0,.5),
		1px 1px 5px rgba(0,0,0,.3);
	cursor: pointer;


}

#submit:hover{
	background: #F5F6EE;
	color: #664A86;
}