/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-image: url('mainbg.png');
	font-family: 'Montserrat', sans-serif;
}

#info {
	background-image: url('stardust.png');
	width: 600px;
	height: 350px;
	border: 12px solid RGBA(146, 178, 178, 1.00);
	border-radius: 3px;
	color: white;
	margin-top: 50px;
}

#geoquest {
	color: RGBA(68, 67, 73, 0.7);
	font-size: 46px;
	margin-bottom: 7px;
}

#geoquesttag {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	margin: 10px;
	color: RGBA(68, 67, 73, 0.7);
}