<!DOCTYPE html>
<html>
<head>
  <title>GeoQuest- Test your knowledge of all things related to countries</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCusOt7lpUvLeUOiPMeA7_FsI882kSmotc">
</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
